*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Oswald", sans-serif;
   scroll-behavior: smooth;

}

:root{
      --main-bg-color:  rgb(22, 15, 41);
      --main-text: rgb(243, 223, 193);
      --main-color: rgb(36, 106, 115);
      --medium-color: rgb(77, 184, 179);
      --contrast-color:rgb(246, 174, 45);
}


body{
    background-color: var(--main-bg-color);
    color: var(--main-text);
    width: 90vw;
}
nav{
    position: fixed;
    z-index: 3000;
    top: 1rem;
    right: 10px;
}

li{
   
    padding: 0.3rem;
}

.nameSpan{
    width: 80%;
    font-size: 40px;
    font-weight: 400;
    color: rgb(31, 30, 30);
    font-family: "Lato", sans-serif;
    animation: pan 15s infinite alternate;   
}

@keyframes pan {
    10% {margin-left: 20%;}
}



a{   
    
     text-decoration: none;
     color: var(--medium-color);
   
}

ul {
   
    list-style: none;
}

.link>a:hover{
    transition: 0.3s;
    color: var(--contrast-color);    
}

ul:hover + a {
    list-style: disc;
}


.skill:hover{
    
    color: var(--main-color);
}

.skill:hover + h4{
   
    margin-left: 15%;
    
}


/*Language*/

.displayOff{
    color: aqua;
    display: none;
}

.switchLanguageContainer{
    position: fixed;    
    bottom: 20px;
    right:10px;
    display: flex;
    gap: 0.3rem;
    font-size: 0.9rem;
    align-items: center;
}

.switch {     
    width:20px;
    height: 45px;
    background-color: var(--main-text);
    border-radius: 2rem;
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  } 
  
  /* Rounded sliders */
  .ball {    
    top: 3px;
    left: 3px;
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: left 0.3s;
    animation-timing-function:  cubic-bezier(0.4, 0, 1, 1);
    transition: 0.2s;
    z-index: 5000;
  }
  
  .ball-move{
    transition: 0.2s;
    top: 28px;
    z-index: 5000;
  } 

.lang{
    transform: rotate(-90deg);
}

.langOn {
    transform: rotate(-90deg);
    color: var(--main-color);
    font-weight: 600;
    font-size: 14px;
}

 .tecnologiesContainer{
    
    margin: 4rem auto ;
    display: flex;

  
    gap: 2rem;
    
 }

 .Icon>img{
    height: 4rem;
    border-radius: 10px;
 }






.container-img{   
    margin-left: 2rem;
    overflow: hidden;
    border-radius: 10%;
    width: 110px;
    padding-bottom: 2rem;
    
        
/*asegurar la proporcion de la imagen*/
   object-fit: cover;  
}



.about{
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    margin-top: 10vh;  
    margin-bottom: 5rem;      
    width: 80vw;
}

.profile-img{
   
    width: 100%;  
}

.color{
    color: var(--medium-color);
}

.contrast{
    color: var(--contrast-color);
}

span{
    color: var(--contrast-color);
}

.habilidades{
    margin-left: 8vw;
}

.skills{
    display: flex;   
}

.skill{
    position: relative;
    transition: 0.3s;
    display: flex;
    align-items:last baseline;
    margin-left: 2vw;
    font-size: 3rem; 
    width: 80vw;
    height: 4rem;
    }

.skill:after{
    content: "";
    position: absolute;
    height: 2px;
    background-color:  rgba(255,255,255,.25);
    width: 80vw;
}

.tipes{
    position: absolute;
    margin-left: 32%;
    margin-top: 2.7rem;
    color: var(--medium-color);
}


.proyectos{
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    margin-top: 10rem;      
    width: 80vw;  
}

.proyect{
    position: relative;
    
    margin-top: 5rem;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 3rem;       
}

.proyect:after{
    position:absolute;
  
    z-index: -30;
    top: 2rem;
    transition: 0.4s;
  
    width: 20vw;
    height: 50vh;
    opacity: 0.7;
    border: 0.5rem solid var(--main-color); 
    content: "";
}

/* Elemento Decorativo*/
.proyect:hover:after{
    border: 0.3rem solid var(--contrast-color); 
    height: 55vh;
    width: 25vw;
}

.proyectInfo{
    margin-top: 3rem;
    position: relative;
    width: 60vw;
      
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items:last baseline;
    justify-content: space-around


      
}

.proyectInfo:after{
    content: "";
    height: 1px;
    
    width:   65vw;
    position: absolute;
    opacity: 0.3;
    
    background-color: var(--main-text) 

}

.proyectInfo:hover:after{
    height: 2px;
    color: var(--main-color);
}

.imagesContainer{
    display: flex;
    flex-wrap: wrap;  
   
   
    gap: 1rem;    
    justify-content: center;
}



.imageProyect:hover {
    width: 23rem;
    height: 22rem;
}

.imageProyect>img:hover  {
    width: 24rem;
    height: 23rem;
}

.imageProyect{
    z-index: -10;
    transition: 0.4s;
    width: 22rem;
    height: 21rem;
    overflow: hidden;
    border-radius: 10px;
}

.work{
    margin-top: 3rem;
}

.imageProyect>img {
    transition: 0.3s;
    width: 22rem;
    height: 22rem;
    object-fit: cover;
}




.contact{
    margin-left: 3rem;
    margin-top: 5rem;
    gap: 2rem;
    margin-bottom: 8rem;
}

.contact > h3 {
    margin-top: 2rem;
}

h4{ 
    transition: 0.7s;
    font-size: 0.8rem;
    font-weight: 400;
}


h2{
    color: var(--main-text);   
}


/*@media (max-width:800px) {
    .imagesContainer{
        flex-direction: column;
    }
}*/

.d-block{
    width: 24rem;
    

}

#carouselExampleIndicators{
    
   
    height: 30rem;
}

